@font-face {
  font-family: 'basis-grotesque-regular-pro';
  src: url(../assets/fonts/basis-grotesque-regular-pro.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raisonne-demibold-pro';
  src: url(../assets/fonts/raisonne-demibold-pro.ttf) format('truetype');
  font-weight: bold;
  font-style: bold;
}

h1,
h2,
h3,
.v-btn,
.log h4 {
  font-family: 'raisonne-demibold-pro', Helvetica, Arial, sans-serif;
}

p,
li,
.v-select__selections,
.v-list-item__title {
  font-family: 'basis-grotesque-regular-pro', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3rem;
}

.v-btn:not(.v-btn--round).v-size--default {
  height: 38px;
}

#status {
  color: #ff2136;
}

.moduleDisconnected {
  color: #ff2136 !important;
}

.moduleConnected {
  color: #000 !important;
}

.log h4 {
  text-align: left;
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 18.72px;
}

.flashing-info-col,
.flashing-col,
.flashing-divider {
  padding-top: 0;
  padding-bottom: 0;
}
